<!DOCTYPE html>
<html>
<head>
<title>RF Apps</title>
<link rel="stylesheet" type="text/css" href="../static/bootstrap/dist/css/bootstrap.css">
</head>
<body>


	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Thesis - RF Dataset</h1>
				<div class="alert alert-info" role="alert">App doesn't work in Chrome browsers</div>

				<div class="list-group">
					<a href="/general-summary" class="list-group-item">
				    <h4 class="list-group-item-heading">General summary</h4>
				    <p class="list-group-item-text">A aggregated summary statistic on the data set</p>
				  </a>
					<a href="/user-explorer" class="list-group-item">
				    <h4 class="list-group-item-heading">User explorer</h4>
				    <p class="list-group-item-text">Explore user data</p>
				  </a>
					<a href="/movement-graph" class="list-group-item">
				    <h4 class="list-group-item-heading">User Movement Graph</h4>
				    <p class="list-group-item-text">Examine how users move through time and space through a directed graph</p>
				  </a>
				  <a href="/user-summary" class="list-group-item">
				    <h4 class="list-group-item-heading">User statistics</h4>
				    <p class="list-group-item-text">Collection of basic statistics on each user</p>
				  </a>	
				  <a href="/trajectory" class="list-group-item">
				    <h4 class="list-group-item-heading">User trajectory plot</h4>
				    <p class="list-group-item-text">Plotting a users path along a polyline using Leaflet.JS</p>
				  </a>
					<a href="/trajectory-timeline" class="list-group-item">
				    <h4 class="list-group-item-heading">User timeline plot</h4>
				    <p class="list-group-item-text">Plotting one-to-many users on a map using playback</p>
				  </a>
				  <a href="/heatmap" class="list-group-item">
				    <h4 class="list-group-item-heading">Heatmap plot (WIP)</h4>
				    <p class="list-group-item-text">Not made yet</p>
				  </a>
				  <a href="#" class="list-group-item">
				    <h4 class="list-group-item-heading">Cluster plot (WIP)</h4>
				    <p class="list-group-item-text">Not made yet</p>
				  </a>
				</div>
			</div>
		</div>


	</div>
</body>
</html>
